html {
  --bg: hsl(0, 0%, 97%);
  --bg-panel: hsl(0, 0%, 100%);
  --bg-panel-hover: hsl(0, 0%, 98%);
  --btn:hsl(240,8%, 42%);
  --btn-bg: hsl(0, 0%, 88%);
  --btn-bg: hsl(0, 0%, 88%);
  --color-text: hsl(240,8%, 32%);
  --color-text-drop: hsl(240,8%, 22%);
  --color-text-hover:hsl(240,8%, 12%);
}

html[data-theme='dark'] {
  --bg: hsl(240,8%, 16%);
  --bg-panel: hsl(240,8%, 22%);
  --bg-panel-hover: hsl(240,8%,28%);
  --btn: hsl(0, 0%, 90%);
  --btn-bg: hsl(240,8%, 32%);
  --color-text: hsl(0, 0%, 90%);
  --color-text-drop:hsl(0, 0%, 95%);
  --color-text-hover: hsl(0, 0%, 100%);
}

h1, h2, h3 {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--bg);
  overflow-x: hidden;
}

nav {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-panel);
}

nav a {
  text-decoration: none;
  color: var(--color-text);
}

nav a:hover {
  text-decoration: none;
  color: var(--color-text);
}

nav .btn-theme {
  color: var(--color-text);
  background-color: var(--bg-panel);
}

nav .btn-theme .navbar-toggler-icon {
  background-color: var(--bg);
}

nav .btn-theme:hover {
  color: var(--color-text);
  background-color: var(--bg);
}

nav .theme {
  color: var(--color-text);
  background-color: var(--bg-panel);
}

nav .theme:hover {
  color: var(--color-text-hover);
}

nav .theme:hover a:hover {
  background-color: var(--bg-panel-hover);
}

/* Theme dropdown */
.dropdown-menu {
  width: max-content;
  background-color: var(--bg-panel);
}

.dropdown-menu .theme-container {
  display: flex;
  width: 100%;
  padding: 0.25rem 1.5rem;
}

.dropdown-menu .tgl {
  display: none;
}

.dropdown-menu .tgl, .dropdown-menu .tgl:after, .dropdown-menu .tgl:before,
.dropdown-menu .tgl *,
.dropdown-menu .tgl *:after,
.dropdown-menu .tgl *:before,
.dropdown-menu .tgl + .tgl-btn {
  box-sizing: border-box;
}

.dropdown-menu .tgl::selection, .dropdown-menu .tgl:after::selection, .dropdown-menu .tgl:before::selection,
.dropdown-menu .tgl *::selection,
.dropdown-menu .tgl *:after::selection,
.dropdown-menu .tgl *:before::selection,
.dropdown-menu .tgl + .tgl-btn::selection {
  background: none;
}

.dropdown-menu .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 3em;
  margin: 0em 15px;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.dropdown-menu .tgl + .tgl-btn:after, .dropdown-menu .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.dropdown-menu .tgl + .tgl-btn:after {
  left: 0;
}

.dropdown-menu .tgl + .tgl-btn:before {
  display: none;
}

.dropdown-menu .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.dropdown-menu .tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}

.dropdown-menu .tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}

.dropdown-menu .tgl-light:checked + .tgl-btn {
  background: #74e08a;
}
/*# sourceMappingURL=navbar.css.map */