*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-nav{
    display: flex;
    flex-direction: row !important;
    align-items: center;
}
.navbar-nav .nav-item{
    width: 12vw;
    cursor: pointer;
    margin-right: 2vw;
    border-radius: 4px;
    background: #1b1e21;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.7s;
}
.nav-item .nav-link{
    text-decoration: none;
    color: $text-color-base;
}

.navbar-nav .nav-item:hover{
    transition: ease-in-out 0.7s;
    background: #2d995b;
    color: $text-color-active;
}
